.response-search-container {
  background-color: #fff;
  margin: 0.5em auto;
  width: 100%;
  min-height: 150px;
  padding: 0.5em 0.2em 0.5em 0;
}

.section-form.brand {
  max-width: unset;
  width: 500px;
}

.response-search-container ol {
  margin: 0;
}
